# Configuración de Django
SECRET_KEY=tu_clave_secreta_muy_segura_aqui
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=nexusti.grupodecor.com,52.177.69.18

# Configuración de base de datos PostgreSQL
POSTGRES_DB=preguntas_frecuentes
POSTGRES_USER=preguntas
POSTGRES_PASSWORD=una_contraseña_segura_aqui
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Configuración de email
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_HOST_USER=notificacionesaplicativoweb@grupodecor.com
EMAIL_HOST_PASSWORD=1Ngr3s0W3b2024*
DEFAULT_FROM_EMAIL=notificacionesaplicativoweb@grupodecor.com

# Configuración LDAP
LDAP_SERVER=tu_servidor_ldap
LDAP_PORT=389
LDAP_BIND_USER_DN=tu_usuario_ldap
LDAP_BIND_PASSWORD=tu_password_ldap
LDAP_BASE_DN=tu_base_dn_ldap

# Configuración de CORS para producción
CORS_ALLOWED_ORIGINS=https://nexusti.grupodecor.com,https://52.177.69.18 